#header {
  padding: 15px;
}
#heading {
  font-size: 24px;
  font-weight: bold;
}
#subheading {
  font-size: 16px;
  color: #adabab;
}

#legend-content {
  padding: 10px;
  display: inline-block;
  height: auto;
}
#legend-img {
  width: 400px;
  height: auto;
  margin: 0 auto;
}
